@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
body {
  font-family: "Mulish", sans-serif;
}
p span {
  font-family: "Inter", sans-serif;
  color: #12132d99;
  font-size: 18px;
}
/* main container  */
.main_container {
  width: 90%;
  max-width: 2440px;
  margin: 0 auto;
}
@media screen and (max-width: 576px) {
  .main_container {
    width: 100%;
  }
}
h1 h2 h3 h4 {
  color: rgb(18, 19, 45);
  font-family: "Mulish", sans-serif;
}
.black_primary {
  color: rgb(18, 19, 45);
}
.black_secondary {
  color: rgba(18, 19, 45, 0.6);
}
.bg_primary {
  /* background: #797dfc; */
  /* background: #00a8ff; */
  background: #1e90ff;
}
.circle_btn {
  box-sizing: border-box;
  border: 1px solid rgba(3, 7, 18, 0.1);
  border-radius: 50px;
  background: rgba(18, 19, 45, 0.03);
}
@media screen and (max-width: 576px) {
  .circle_btn {
    box-sizing: border-box;
    border: 1px solid rgba(204, 215, 245, 0.1);
    border-radius: 50px;
    background: rgba(214, 215, 255, 0.03);
  }
  .circle_btn_hover:hover {
    border: 1px solid rgba(228, 228, 228, 0.1);
    background: rgba(255, 255, 255, 0.53);
    border-radius: 0px;
  }
}
.hover:hover {
  background: #1e90ff;
}
.circle_btn_hover:hover {
  border: 1px solid rgba(3, 7, 18, 0.1);
  background: rgba(18, 19, 45, 0.1);
}
.banner_container {
  margin-top: 40px;

  background: url("../assets/images/bgbanner.png"), rgb(18, 19, 45);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center center;
}
.gradient_text {
  background: black;
  background: linear-gradient(to right, #3796f5 0%, #1e90ff 50%, #083b6e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.post {
  background: rgb(243, 243, 245);
  transition: all 0.5s ease-in;
}
.post:hover {
  border: 1px solid rgb(121, 125, 252);
  background: rgba(121, 125, 252, 0.1);
}
.active_status {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100px;
  /* success/500 */
  background: rgb(16, 185, 129);
  width: 17px;
  height: 17px;
  position: absolute;
  top: -6px;
  right: -6px;
}
.deactive_status {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100px;
  background: rgb(255, 52, 52);
  width: 17px;
  height: 17px;
  position: absolute;
  top: -6px;
  right: -6px;
}
.border_bottom {
  border: 1px dashed rgba(18, 19, 45, 0.25);
}
.random {
  color: #ffffffcc;
  color: #12132dcc;
  color: #12132d99;
  color: #12132dcc;
  color: #12132d99;
  background: #12132d0d;
}
